{% extends '_base.html' %}

{% block content %}
<table border="1">
    <tr>
        <td>Id</td>
        <td>id_anime</td>
        <td>chapitre</td>
        <td>Nom</td>
        <td>image</td>
    </tr>
    {% for mangaData in arrayData %}
    <tr>
        <td>{{ mangaData.1.manga.id }}</td>
        <td>{{ mangaData.1.manga.id_manga }}</td>
        <td>{{ mangaData.1.manga.chapter }}</td>
        {% if mangaData.attributes.titles.en is not null %}
        <td>{{ mangaData.0.attributes.titles.en|capfirst }}</td>
        {% else %}
        <td>{{ mangaData.0.attributes.titles.en_jp|capfirst }}</td>
        {% endif %}
        <td><img src="{{ mangaData.0.attributes.posterImage.tiny }}" alt="image"></td>
    </tr>
    {% endfor %}



</table>

<h1>BOOKMARK</h1>
{% endblock %}