{% block title %}
  <h1>MANGAS</h1>
{% endblock %}

{% block content %}
  <table>
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Synopsis</td>
        <td>Nb chap </td>
        <td>Nb volume </td>
        <td>Average Note</td>
    </tr>
    {% for manga in mangas %}
      <tr>
        <a href="/animes/{{ manga.id }}">
          <td>{{ manga.id }}</td>
          {% if manga.attributes.titles.en is not null %}
            <td>{{ manga.attributes.titles.en|capfirst }}</td>
          {% else %}
            <td>{{ manga.attributes.titles.en_jp|capfirst }}</td>
          {% endif %}
          <td>{{ manga.attributes.synopsis }}</td>
          <td>{{ manga.attributes.chapterCount }}</td>
          <td>{{ manga.attributes.volumeCount }}</td>
          <td>{{ manga.attributes.averageRating }} / 10</td>
      </a>
      </tr>
    {% endfor %}
  </table>
{% endblock %}